<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}区域主页</title>
</head>
<style type="text/css">
    html,body{
        height: 100%;
        width:100%;
    }
</style>
       <script src="http://libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=VP8z8KawuZYH9EuaFR0GxhTHsM80rR7y"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
<body>
<a href='http://127.0.0.1:5000/city/{{ title }}/'>返回城市页</a>
<form style="line-height: 30px;text-align: center">
    <p>
        <input type="button" onclick="selectDasc()" value="查询">
             柱状图/折线图:<select id="zz">
            <option value="" selected></option>
            <option value="柱状图">柱状图</option>
            <option value="折线图">折线图</option>
        </select>
            <input type="button" onclick="changeZZ()" value="切换">
    </p>
</form>
<div id="area-wrap" style="height: 80%;width:90%; margin: 20px;padding: 0px"></div>
<script type="text/javascript">
    var dom = document.getElementById("area-wrap");
    var myChart = echarts.init(dom);
    var app = {};

    option = null;
// 异步加载数据
         var legendData=[];    //名称数组（实际用来城市名）
         var seriesData=[];    //数量数组（实际用来盛放城市房价数据）
         var xAxisData=[];    //横坐标数组(实际用来城市名)
         var titleText='';
         var data_city={}
   $(document).ready(function () {
       getDataZZ();
    });

    function getDataZZ() {
        cityname='{{ title }}'
        var cityName={'name':cityname}
        console.log(cityName)
        $.ajax({
            url:'/areaData/',
            data:cityName,
            type:'GET',
            async:false,
            dataType:'json',
            success:function(data) {
                seriesData=[]
                xAxisData=[]
                for(var Key in data){
                    titleText=Key
                    Data=data[Key]
                    for(var key in Data){
                        xAxisData.push(Data[key][0])
                        seriesData.push(Data[key][1])
                    }
                }
               myChart.clear();
               myChart.setOption(
                   {
                       title: {
                            text: '2018年'+titleText+'区域房价数据',
                            left: 'center',
                            textStyle: {
                                color: '#652'
                            }
                        },
                        color: ['#3398DB'],
                        tooltip : {
                            trigger: 'axis',
                            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis : [
                            {
                                type: 'category',
                                data: xAxisData,
                                axisTick: {
                                    alignWithLabel: true
                                }
                            }
                         ],
                        yAxis : [
                            {
                                type : 'value'
                            }
                        ],
                        series : [
                            {
                                name:'房价数据',
                                type:'bar',
                                barWidth: '60%',
                                data:seriesData,
                                label: {
                                    normal: {
                                        show: true,
                                        position: 'inside'
                                    }
                                },
                                markPoint: {
                                    data: [
                                        {type: 'max', name: '最大值'},
                                        {type: 'min', name: '最小值'}
                                    ]
                                },
                                markLine: {
                                    data: [
                                        {type: 'average', name: '平均值'}
                                    ]
                                }
                            }
                        ]
                    }
               )
            },
            error:function (msg) {
                console.log(msg);
                alert('系统发生错误');
            }
        });
    }
    function selectDasc() {
        var options=$("#city option:selected");  //获取选中的option
        var cityName=options.val();   //拿到选中项的值
        options=$("#month option:selected");
        var cityMonth=options.val();
        if(cityMonth!=""&&cityName!="")
            window.open("http://127.0.0.1:5000/city/"+cityName+'/'+cityMonth+'/', "_self");
        else if(cityName!="")
            window.open("http://127.0.0.1:5000/city/"+cityName+'/', "_self");
        else
            alert(请选择城市);
    }
    function changeZZ() {
        var options=$("#zz option:selected");  //获取选中的option
        var changeXY=options.val();
        if(changeXY=="柱状图")
             myChart.setOption({
                 series : [
                            {
                                name:'房价数据',
                                type:'bar',
                                barWidth: '60%',
                                data:seriesData,
                                label: {
                                    normal: {
                                        show: true,
                                        position: 'inside'
                                    }
                                },
                                markPoint: {
                                    data: [
                                        {type: 'max', name: '最大值'},
                                        {type: 'min', name: '最小值'}
                                    ]
                                },
                                markLine: {
                                    data: [
                                        {type: 'average', name: '平均值'}
                                    ]
                                }
                            }
                        ]
             })
        else if(changeXY=="折线图")
            myChart.setOption({
                 series: [{
                    data: seriesData,
                    type: 'line',
                     label: {
                         normal: {
                             show: true,
                             position: 'top'
                         }
                     },
                     markPoint: {
                         data: [
                             {type: 'max', name: '最大值'},
                             {type: 'min', name: '最小值'}
                         ]
                     },
                     markLine: {
                         data: [
                             {type: 'average', name: '平均值'}
                         ]
                     }
                }]
            })

    }
</script>
</body>

</html>